<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- Launch file for GPS module
  
       INPUT topic:
       /rtcm - rtcm_msgs/Message messagio dalla stazione fissa
       
       OUTPUT topic: 
       /ublox/fix - sensor_msgs/NavSatFix Posizione ottenuta dal GPS
       /ublox/fix_velocity - geometry_msgs/TwistWithCovarianceStamped Velocità ottenuta dal GPS -->
  
  <include file="$(find agri_q)/launch/ublox.launch" />
  
  <!-- Transform to GPS to ODOM
  
       INPUT topic:
       /ublox/fix - sensor_msgs/NavSatFix Posizione ottenuta dal GPS
       
       OUTPUT topic: 
       /odom - nav_msgs/Odometry Odomoetria ottenuta -->
  
  <include file="$(find agri_q)/launch/GPS_to_ODOM.launch" />
  
  
</launch>
